munkres==1.1.4
cryptography @ file:///croot/cryptography_1677533068310/work
ipywidgets==8.1.2
pyproj==3.2.1
dash-html-components==2.0.0
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1653138886172/work
networkx==3.3
Pillow==9.5.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857264451/work
ftfy @ file:///home/conda/feedstock_root/build_artifacts/ftfy_1700682829446/work
PyQt5_sip==4.19.18
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
simple_knn @ file:///home/bieriv/LangSplat/LangSplat/submodules/simple-knn
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
comm==0.1.4
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
torchvision==0.13.1
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
open3d==0.16.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1673674224265/work/tensorboard-2.11.2-py3-none-any.whl
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1649184113124/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1636085269864/work
pandas==1.3.5
shapely==2.0.4
PyQt5==5.12.3
transformers==4.30.2
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1701287008248/work
retrying==1.3.4
plyfile @ file:///home/conda/feedstock_root/build_artifacts/plyfile_1679423307575/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
async-timeout==3.0.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1666155398032/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
pyrsistent==0.19.3
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
supervision==0.11.1
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1649111917568/work
torchaudio==0.12.1
dash-table==5.0.0
python-dateutil==2.9.0.post0
pyparsing==3.1.2
open_clip_torch @ file:///home/conda/feedstock_root/build_artifacts/open-clip-torch_1704716552543/work
tenacity==8.2.3
click @ file:///home/conda/feedstock_root/build_artifacts/click_1651215140632/work
PyOpenGL==3.1.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
install==1.3.5
ConfigArgParse==1.7
dash-core-components==2.0.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1648882415996/work
jupyterlab_widgets==3.0.10
numpy==2.1.3
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1663068393899/work
geopandas==0.10.2
opencv-python==4.10.0.84
pyquaternion==0.9.9
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1711290127547/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737551960/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
scikit-learn==1.0.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1656937818679/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1661439848456/work
PyQtChart==5.12
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1696764509355/work
matplotlib==3.8.4
fonttools==4.51.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
torch==1.12.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
contourpy==1.2.1
importlib-resources==5.12.0
pytz==2024.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1711011113292/work
mediapy==1.1.2
wcwidth==0.2.13
freetype-py==2.4.0
jaxtyping @ file:///home/conda/feedstock_root/build_artifacts/jaxtyping_1676603631113/work
typing_extensions==4.12.0
itsdangerous==2.1.2
nbformat==5.5.0
cycler==0.12.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1666723258080/work
cligj==0.7.2
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1649806299270/work
jsonschema==4.17.3
PyQtWebEngine==5.12.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
fastjsonschema==2.19.1
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1660619049122/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pygeos==0.14
sentencepiece==0.1.96
kiwisolver==1.4.5
scipy==1.13.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1648883617327/work
imageio==2.31.2
pyglet==2.0.10
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1674184942191/work
pyasn1-modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1695107857548/work
pillow==10.3.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1666389892786/work
Rtree==1.0.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1676411946679/work
tqdm==4.66.4
absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1705494584803/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1653252814274/work
jupyter_core==4.12.0
ipython==7.34.0
Jinja2==3.1.3
pyrender==0.1.45
pyglet==2.0.15
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1689416562716/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1663830492333/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
addict==2.4.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
six==1.16.0
scipy==1.7.3
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
click-plugins==1.1.1
protobuf==3.18.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
fiona==1.9.6
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1708987703938/work
Flask==2.2.5
networkx==2.6.3
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1625835301720/work
prompt-toolkit==3.0.43
widgetsnbextension==4.0.10
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1648757092905/work
packaging==24.0
tensorboard-data-server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1649932766502/work/tensorboard_data_server-0.6.0-py3-none-manylinux2010_x86_64.whl
joblib==1.3.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1712686151958/work
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
diff_gaussian_rasterization @ file:///home/bieriv/LangSplat/LangSplat/submodules/langsplat-rasterization
threadpoolctl==3.1.0
typeguard @ file:///home/conda/feedstock_root/build_artifacts/typeguard_1693108330113/work
timm==0.9.12
imageio==2.34.1
safetensors==0.4.3
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1648966511831/work
pkgutil_resolve_name==1.3.10
segment_anything @ file:///home/bieriv/LangSplat/LangSplat/submodules/segment-anything-langsplat
trimesh==4.3.2
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1673615989977/work
dash==2.15.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1657953088445/work
plotly==5.18.0
tokenizers==0.13.3
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1706895065046/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1702571698061/work
